@(partyForm: Form[_])

@import views.html.metronic._
@import helper._

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import play.i18n.Messages;
@import ch.insign.cms.views.html.admin.party.createForm

@pageFooter = {
}

@ch.insign.cms.views.html.admin.party.createForm(partyForm) {

    <div class="form-group">
        @inputText(
            partyForm("lastName"),
            'class -> "form-control",
            'placeholder -> Messages.get("backend.user.lastName"),
            '_label -> Messages.get("backend.user.lastName")
        )
    </div>

    <div class="form-group">
        @inputText(
            partyForm("phone"),
            'class -> "form-control",
            'placeholder -> Messages.get("backend.user.phone"),
            '_label -> Messages.get("backend.user.phone")
        )
    </div>
}
